@import "tailwindcss";

@theme {
  --font-BebasNeue_Regular: 'BebasNeue-Regular', sans-serif;
}

@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('/fonts/BebasNeue-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@keyframes blink {
  0%,100% {
    border-color: #c41919;
    box-shadow: inset 0 0 10px #c52222;
  }
  50% {
    border-color: #a31616;
    box-shadow: inset 0 0 25px #a31616;
  }
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: 'JetBrains Mono', 'Consolas', monospace;
    background-color: #0a0a0a;
    color: white;
    overflow-x: hidden;
  }

  html {
    scroll-behavior: smooth;
  }
}

